[Unit]
Descripton=Golang API for PostgreSQL
After=network.target

[Service]
Type=simple
ExecStart=/opt/backend-api/backend
Restart=always
RestartSec=10s
WorkingDirectory=/opt/backend-api
User=backendapiuser
Environmet=CONFIG_PATH=/etc/backend-api/config.yaml
StandardOutput=journal

[Install]
WantedBy=multi-user.target
